# --- Секреты, конфиги, сессии ---
.env
config.json
secrets.yaml
credentials/
*.pem
*.key
*.session
*.session-journal
sessions/


# --- Кеш Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Виртуальные окружения ---
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# --- БД ---
*.db
*.sqlite
*.sqlite3
*.sql
*.dump
*.bin


# --- Логи и кеш ---
*.log
logs/
tmp/
temp/
.cache/

# --- Мусор от IDE'шек ---
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.project
.pydevproject
.settings/
.vscode/launch.json
.vscode/settings.json

# --- Мусор от OS ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini